.form-name-input {
    display: inline-block;
    width: 350px;
}

.btn-delete-form {
    display: inline-block;
    cursor: pointer;
}

.thumbnail-container {
    margin-bottom: 20px;
    text-align: center;
}

.thumbnail-container .img-deletable {
    max-width: 94%;
}
